body{
            background: url(http://imgur.com/qjIeJOu) no-repeat center fixed;
            background-size: cover;
            -moz-background-size: 100% 100%;
            -o-background-size: 100% 100%;
}
body{
			text-align: center;
			color: white;
			text-shadow: 4px 4px #000000;
			font-size: 40px;
			font-family: "Courier New";
			font-weight: bold;
      margin-left: 110px;
      margin-right: 110px;
      margin-top: 10px;
      overflow: hidden;
	}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

a {
    display: block;
    width: 400px;
    font-weight: bold;
    color: #FFFFFF;
    background-color:#600000;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
	margin-right:15px;
	position: relative;
	font-size: 30px;
	border-style: outset;
	border-color: #700000 ;
	border-width: 10px;
}
a:active {
  position:relative;
    top:5px;
    background:#500000;
    box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
    border-color: #600000;
}
ul.iiioptions {
	position:relative;
	left: 175px;
}
ul.iioptions {
	position:relative;
	left: 360px;
}
ul.iiiioptions {
	position:relative;
	margin: auto;
}
a.options {
	position:relative;
	margin: auto;
}
iframe {
  width: 100%;
  height: 97vh;
}
video {
  position:relative;
  top:-8em;
  width: 100%;
  margin: auto;
    -webkit-animation: mymove 10s;
    -webkit-animation-fill-mode: forwards;
    animation: mymove 10s;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 5s;
    z-index: 1;
}
@keyframes mymove {
    from {top: -8em;}
    to {top: 1000px;}
}
